{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<div class="jumbotron">
<div><h2 style="color:blue">&nbsp;&nbsp;&nbsp;&nbsp;About </h2></div><hr>
<div class="row" style="margin-left:20px">
		<div class="col-md-8">
<p> we recognize the complexities involved in buying or renting a property, whether it’s choosing the perfect location, defining your budget, considering amenities, or balancing other key factors. Our platform offers a seamless experience that connects you with the most suitable real estate options available across USA and even in major cities like Memphis. </p></div>

    <div class="col-md-4" >
    <img style="margin-right:18px;width:80%" src="{% static 'images/home10.jpg' %}"/>

    </div>
</div>
</div>
{% endblock %}